<div class="row">
  <div class="medium-3 columns">
    <img src="https://s.gravatar.com/avatar/eecfe5b16248c913e8dff43782aeb3c3?s=250">
  </div>
  <div class="medium-9 columns">
    <h1>About ARTEM</h1>
    <div class="description_in_header">FULL STACK developer</div>
    <hr>
    <div class="description_header">Here must be something about me, but ...</div>
    <div class="description_header">Only links:</div>
    <ul>
      <li><a href="https://www.facebook.com/temchik2004">https://www.facebook.com/temchik2004</a></li>
      <li><a href="http://www.upwork.com/o/profiles/users/_~01419ea108b6f43807/">http://www.upwork.com/o/profiles/users/_~01419ea108b6f43807/</a></li>
    </ul>
  </div>

</div>
