<div class="row">
  <div class="medium-12 align-center row columns">
    <div class="row medium-12 align-center align-middle expanded button-group">
      <a class="button success" href="/room/new">Create room</a>
      <a class="button alert" href="/logout">Logout</a>
    </div>
    <div class="medium-3 columns" id="list_rooms">
      <% user.rooms.forEach(function (room) {%>

      <div class="room" data-room_id="<%= room.id%>">
        <div class="name_room"><%= room.name %></div>
      </div>

      <% })%>
    </div>
    <div class="medium-9 columns align-center align-middle"><h2>Choose room or create new</h2></div>
  </div>
</div>
