<div class="row">
  <div class="middle-12 columns">
      <h1 class="header">it's simple chat for example</h1>
      <h2 class="subheader">So choose your button</h2>
    <div class="row align-center">
      <div class="middle-6 align-center columns"><a href="/login" class="button large expanded">Login</a></div>
      <div class="middle-6 align-center columns"><a href="/signup" class="button large expanded success">Register</a></div>
    </div>
  </div>
</div>
