<div class="row">
  <div class="middle-6 middle-offset-3 align-center">
    <form action="/login" method="post">
      <label for="email">Email:</label>
      <input type="text" name="email">
      <label for="password">Password:</label>
      <input type="text" name="password">
      <button type="submit" class="button large">Login</button>
    </form>
  </div>
</div>
