<h1 class="newRoomHeader">Create new room</h1>
<div class="row">
  <div class="medium-12 columns">
    <form method="post" action="/room/new">
      <label> Enter new name:
      <input type="text" name="new_name">
      </label>
      <label>Select user
        <select multiple name="users">
          <% users.forEach(function (user) { %>
            <option value="<%= user.id %>"><%= user.email%></option>
          <% }) %>
        </select>
      </label>
      <button type="submit" class="button success">CREATE</button>
    </form>
  </div>
</div>
